/*
* RESET 
*/
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body,
main,
header,
section,
footer,
form,
label,
input,
select,
option,
button,
p,
div,
a,
ul,
ol,
li,
img,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
    font: inherit;
    margin: 0;
    padding: 0;
}
input,
textarea {
    background-color: transparent;
    font: inherit;
    color: inherit;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul,
ol {
    list-style: none;
}
/*
* GENERAL
*/
html {
    position: relative;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
}
body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
/*
* PRELOADER
*/
#preloader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #fff;
    z-index: 100;
}
/* custom */
main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 100px;
    grid-template-areas: 
    'header header header header'
    'aside . . .'
    'aside . . .'
    'aside . . .'
    'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}
header,
aside,
footer,
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
section {
    background-color: #2e91aa;
}
header {
    grid-area: header;
    background-color: #b94747;
}
aside {
    grid-area: aside;
    background-color: #9e479e;
}
footer {
    grid-area: footer;
    background-color: #568548;
}